.containerStyle {   
  background-color: #ffffff;
  border: solid 0.05rem #868686;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 6.4rem rgba(0, 0, 0, 0.0500000007);
  box-sizing: border-box;
}

.centerElement{   
  text-align: center;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1, h2, .labelStyle  {
  font-family: "Saira Extra Condensed";
  font-weight: 700;
  line-height: 1.2;
}
h3, h4, h5{
  font-family: "Saira Extra Condensed";
  font-weight: 400;
  line-height: 1.2;
}

p, td, th {
  font-family: "Saira Extra Condensed";

}


.navv {
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0.4rem 6.4rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
}

li {
  text-align: center;
  margin-left: 5%;
  width: 200px;
}
