{% extends "reg/layout.html" %}

{% block body %}



    <div class="container">


        <nav class="navv navbar navbar-expand-sm bg-light justify-content-center navbar">
    
            <ul class="navbar-nav">
    
                <li class="nav-item">
                    <a class="nav-link ml-2 btn btn-dark" href="{% url 'reg:index' %}">
                        <h6 class="text-light">Display</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2 btn btn-dark" href="{% url 'reg:update' %}">
                        <h6 class="text-light">My Courses</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2 btn btn-dark" href="{% url 'reg:logout_view' %}">
                        <h6 class="text-light">Logout</h6>
                    </a>
                </li>
            </ul>
    
        </nav>
    </div>
    <div class="container containerStyle">
        {% block x %}
        {% endblock %} 
    </div>
  

{% endblock %}