{% extends "reg/layout.html" %}
{% block body %}

<div class="centerstyle">

  <form action="{% url 'reg:login_view' %}" method="post">
    {% csrf_token %}
    <div class="m-4">
      <!-- Username input -->
      <div class="form-floating mb-4">
        <input type="text" id="floatingInput" class="form-control" name="UserName" placeholder="Username" />
        <label for="floatingInput">Username</label>
      </div>
      <!-- Password input -->
      <div class="form-floating mb-4 ">
        <input type="password" id="floatingInput" class="form-control" name="passWord" placeholder="Password" />
        <label for="floatingInput">Password</label>
      </div>

      <!-- Submit button -->
      <div class="centerElement"> 
        <button type="submit" class="btn btn-primary btn-lg mb-4" value="Login">Sign In</button>
      </div>
      
      <div class="text-center">
        <p>Not a member? <a href="{% url 'reg:signup' %}">Register</a></p>

      </div>
    </div>
  </form>
</div>




{% endblock %}