{% extends "reg/layoutnav.html" %}

{% block x %}




<h1 class="centerElement">Courses</h1>
<!--<h5 class="center">Welcome {{student.user.username}}</h5>-->
<table class="table table-hover">
    <thead>
        <th scope="col">Course Name</th>
        <th scope="col">Course Id</th>
        <th scope="col">Credit Hours</th>
        <th scope="col">Department</th>
        <th scope="col">Add</th>

    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{course.name}}</td>
            <td>{{course.courseid}}</td>
            <td>{{course.hours}}</td>
            <td>{{course.hostcollege.name}}</td>
            <td><a href="{% url 'reg:display'  course.courseid %}">Add & Details</a></td>



        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}